<article class="material-card Light-Blue" [ngClass]="{'mc-active':showContent}">
  <h2>
    <span>{{user.name}}</span>
    <strong>
      <i class="fa fa-fw fa-star"></i>
      <a target="_blank" [href]="user.href">@{{user.screen_name}}</a>
    </strong>
  </h2>
  <div class="mc-content">
    <div class="img-container">
      <img class="img-responsive" [src]="user.profile_image_url">
    </div>
    <div class="mc-description">
      {{user.status?.text}}
      <!--He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...-->
    </div>
  </div>
  <a class="mc-btn-action" (click)="toggle()">
    <i [class]="icons[iconState]"></i>
  </a>
  <div class="mc-footer margin-btn">
    <h4>
      Social
    </h4>
    <button class="btn btn-primary" type="button">
      Followers <span class="badge">{{user.followers_count}}</span>
    </button>

    <button class="btn btn-default" type="button">
      Friends <span class="badge">{{user.friends_count}}</span>
    </button>
  </div>
</article>
